[Unit]
Description=MOSAIC RTC Service
After=network.target

[Service]
Type=simple
ExecStart=/srv/mosaic-5g/controller/run_flexran_rtc.sh $(cat /srv/mosaic-5g/.exec_args)> /srv/rtc.out 2> /srv/rtc.err'

[Install]
WantedBy=multi-user.target
Alias=rtcd.service
